<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Identicon Examples</title>
    <link rel="stylesheet" href="../assets/stylesheets/example.css"/>
    <link rel="icon" href="../assets/images/fur-favicon.png"/>
    <script src="../assets/javascripts/example.js"></script>
</head>
<body>
<header>
    <div class="container">
        <h1>Identicon Examples</h1>
    </div>
</header>
<main>
    <article>
        <div class="container">
            <p>Examples for furn identicon command.</p>
        </div>
        <div class="container">
{{#each examples}}        <img src="{{src}}" alt="" class="example-identicon"/>
{{/each}}
        </div>
    </article>
</main>
<footer>
    <a href="https://github.com/okunishinishi/node-fur"><img src="../assets/images/fur-banner.png" class="footer-logo"></a>
    <small>© 2014 Taka Okunishi</small>

    <nav>
        <a class="nav-item" href="https://github.com/okunishinishi/node-fur/">Homepage</a>
        <a class="nav-item" href="http://okunishinishi.github.io/fur/apiguide/">API Guide</a>
        <a class="nav-item" href="http://okunishinishi.github.io/fur/gallery/">Gallery</a>
    </nav>
</footer>
</body>
</html>