/**
 * Gallery style.

 */
body {
    color: #333;
    font-family: sans-serif;
    padding: 40px 0 0;
    margin: 0;
    font-weight: 100;
}

h1, h2, h3, thead th {
    font-weight: 100;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(250, 250, 250, 0.9);
    border-bottom: 1px solid #EEE;
    padding: 8px;
    z-index: 200;
}

header h1 {
    margin: 0;
    color: #AAA;
    font-size: 1.25em;
    display: inline-block;
}

header nav {
    display: inline-block;
    margin: 0 20px;
}

header .nav-item {
    display: inline-block;
    margin: 0 10px;
    color: #C9C9C9;
}

header .nav-item:hover {
    color: #888;
    text-decoration: none;
}

article {
    margin: 0 8px;
}

dt {
    border-bottom: 1px solid #EEE;
    padding: 4px 8px;
    opacity: .5;
}

dt b {
    opacity: 1;
}

dd {
    padding: 10px 0 20px;
}

a {
    text-decoration: none;
    color: rgb(88, 167, 170);
}

a:hover {
    text-decoration: underline;
}

.no-style-list {
    list-style: none;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 5px 10px;
    border: 1px solid #EEE;
}

thead {
    color: #999;
}

thead th {
    border-top: none;
}

th:first-child,
td:first-child {
    border-left: none;
}

th:last-child,
td:last-child {
    border-right: none;
}

tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: none;
}

.text-center {
    text-align: center;
}

tbody th {
    font-weight: 100;
    font-size: 3em;
    color: #555;
}

#jump-to-top-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    color: #AAA;
    background-color: rgba(255, 255, 255, .5);
    font-size: 0.75em;
}

#jump-to-top-btn:hover {
    color: #555;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .9);
}

footer {
    padding: 10px 4px;
    border-top: 1px solid #F5F5F5;
    margin: 40px 10px 0;
    color: #999;
}

footer nav {
    display: inline-block;
    font-size: 0.75em;
    margin: 0 20px;
}

footer .nav-item {
    display: inline-block;
    margin: 0 10px;
}

.footer-logo {
    height: 24px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin: 0 4px;
}

thead td {
    text-align: center;
}

p {
    padding: 4px 8px;
}